<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/amulya-shrestha-352344156">
            Amulya Shrestha
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/amulya-shrestha-352344156">
            About Me
          </a>
        </li>
        <li>
          <a [routerLink]="['learner/blog']">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      2019, Designed by
      <a href="https://www.linkedin.com/in/amulya-shrestha-352344156" target="_blank">Amulya Shrestha</a>. Coded by
      <a href="https://www.linkedin.com/in/amulya-shrestha-352344156" target="_blank">Amulya Shrestha</a>.
    </div>
  </div>
</footer>
