<div class="card p-3 mb-0">
  <div class="card-title">
    <h1 class="h2">Blog</h1>
    <div class="float-right mr-3 mb-3">
      <button (click)="openAddBlog(addOrEditBlog)"
              class="btn btn-primary btn-round btn-just-icon px-3 py-2 btn-lg"
              type="button"><i class="fa fa-plus mr-2"></i>Add
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let blog of blogList; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>{{blog.title}}</td>
        <td>{{blog.description}}</td>
        <td class="button-container">
          <a (click)="openEditBlog(blog, addOrEditBlog)" class="btn btn-info btn-round btn-icon p-2 mt-0 ml-0">
            <i class="fa fa-edit"></i>
          </a>
          <a (click)="onDeleteBlog(blog.blogId)" class="btn btn-danger btn-round btn-icon p-2 mt-0 ml-2 text-light">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #addOrEditBlog let-modal class="bg-dark">
  <div class="modal-header" class="bg-dark p-3 d-inline">
    <div class="float-right">
      <button (click)="modal.dismiss()" class="btn btn-round btn-icon mt-0"><strong>x</strong></button>
    </div>
    <div class="card-title category text-primary text-center">
      Blog
    </div>
  </div>
  <div class="modal-body bg-dark">
    <form [formGroup]="addOrEditBlogForm">
      <div class="card-body">
        <div class="content">
          <label class="text-light card-title">Title</label>
          <div class="input-group form-group-no-border input-lg">
            <input type="text" class="form-control" placeholder="Blog Title" formControlName="title">
          </div>

          <textarea class="form-control btn-round bg-secondary p-3" name="name" rows="3" cols="80"
                    placeholder="Type a description for this Blog..." formControlName="description"></textarea>

          <div class="separator separator-primary w-100"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <button *ngIf="task === 'Add'" (click)="onSubmitBlog()"
                        class="btn btn-outline-success btn-round btn-just-icon px-3 py-2 btn-lg"
                        type="button">Add
                </button>
                <button *ngIf="task === 'Update'" (click)="onSubmitBlog()"
                        class="btn btn-outline-success btn-round btn-just-icon px-3 py-2 btn-lg"
                        type="button">Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
