<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">Courses</h2>
    <div class="separator separator-primary"></div>
      <div class="team">
        <div class="row">

          <div *ngFor="let course of courseList" class="col-md-4">
            <div class="card p-4" style="background-image: linear-gradient(#FF5300, white);">
              <div class="team-player">
                <img (click)="onSelect(course)" src="assets/img/course.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{course.mainTitle}}</h4>
                <p class="category text-primary">{{course.mainTitle}}</p>
                <p class="description">{{course.infoContent}}</p>
                <!--<a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

