<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Interactive Tutorial Platform</h2>
                <h5 class="description">Refurbish your mind with exciting contents and best practices on a particular
                    topic or field. Challenge yourself with knowledge you recently consumed. Request courses of your
                    will, report issues if you have any. Happy learning !! </h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('assets/img/first-left.jpg')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">“A persisting change in human performance or
                            performance potential…[which] must come about as a result of the learner’s experience and
                            interaction with the world.”
                            <br>
                            <br>
                            <small>-Interactive TP...</small>
                        </p>
                    </div>
                    <!-- Second image on the left side of the article -->
                    <div class="image-container" style="background-image: url('assets/img/second-image.png')"></div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right"
                         style="background-image: url('assets/img/third.PNG')"></div>
                    <h3>Gain or acquire knowledge of or skill by study and experience</h3>
                    <p>Learning is the relatively permanent change in a person’s knowledge or behavior due to
                        experience. This definition has three components: 1) the duration of the change is long-term
                        rather than short-term; 2) the locus of the change is the content and structure of knowledge in
                        memory or the behavior of the learner; 3) the cause of the change is the learner’s experience in
                        the environment rather than fatigue, motivation, drugs, physical condition or physiologic
                        intervention.
                    </p>
                    <p>
                        Refurbish your mind with exciting contents and best practices on a particular topic or field.
                        Challenge yourself with knowledge you recently consumed. Request courses of your will, report
                        issues if you have any. Happy learning !!
                    </p>
                    <p>We define learning as the transformative process of taking in information that—when internalized
                        and mixed with what we have experienced—changes what we know and builds on what we do. It’s
                        based on input, process, and reflection. It is what changes us.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
