<app-header></app-header>
<div class="container-fluid bg-dark">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item p-3">
            <a class="nav-link active" [routerLink]="['users']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Users
              </div>
            </a>
            <div class="separator separator-primary my-0 py-1 w-100 btn-round"></div>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['course']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Course
              </div>
            </a>
            <div class="separator separator-primary my-0 py-1 w-100 btn-round"></div>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['feedback']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Feedback
              </div>
            </a>
            <div class="separator separator-primary my-0 py-1 w-100 btn-round"></div>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['requests']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Requests
              </div>
            </a>
            <div class="separator separator-primary my-0 py-1 w-100 btn-round"></div>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['blog']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Blog
              </div>
            </a>
          </li>
            <div class="separator separator-primary my-0 py-1 w-100 btn-round"></div>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['question']" [routerLinkActive]="['is-active']">
              <div class="card-title category text-light text-center">
                Questions
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="card" style="max-height: 400px">
        <div class="card-title p-3">
          <h1 class="h2">Overview</h1>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="card h-50 bg-success p-3">
                    <div class="card-title category text-light text-center">
                      Users
                    </div>
                    <div class="separator separator-light"></div>
                    <h3 class="card-body text-center title text-light">
                      2
                    </h3>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card h-50 bg-danger p-3">
                    <div class="card-title category text-light text-center">
                      Course
                    </div>
                    <div class="separator separator-light"></div>
                    <h3 class="card-body text-center title text-light">
                      2
                    </h3>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card h-50 bg-warning p-3">
                    <div class="card-title category text-light text-center">
                      Feedback
                    </div>
                    <div class="separator separator-light"></div>
                    <h3 class="card-body text-center title text-light">
                      2
                    </h3>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card h-50 bg-info p-3">
                    <div class="card-title category text-light text-center">
                      Course Requests
                    </div>
                    <div class="separator separator-light"></div>
                    <h3 class="card-body text-center title text-light">
                      2
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-footer></app-footer>
