<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Web-developer.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Learn, Grow, Prosper.</h1>
        <div class="text-center">
          <a href="https://www.facebook.com/amulya.srestha" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.instagram.com/amulya._.shrestha/?hl=en" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/amulya-shrestha-352344156" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
