
<div class="section section-team text-center bg-dark">
  <div class="container">
    <h2 class="title text-light">Blog Posts</h2>
    <div class="separator separator-primary"></div>
    <div *ngFor="let blog of blogList" class="card px-5 bg-light">
      <h4 class="title text-center">{{blog.title}}</h4>
      <p class="description text-center">{{blog.description}}</p>
      <div class="float-right">
        <!--<p class="category text-primary">-Date</p>-->
      </div>
    </div>
  </div>
</div>
