<div class="particles-wrapper">
  <div class="overlay"></div>
  <div id="particles-js">
    <app-particles></app-particles>
  </div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{title}}<strong *ngIf="homeTitle">Enlighten</strong></h1>
        <!-- <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p> -->
      </div>
    </div>
  </div>
</div>
